body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1{
    font-weight: 300;
    font-size: 48x;
    margin-bottom: 10px;
}

.hero h1 strong {
    font-weight: bold;
}

.hero p {
    color: #333;
    line-height: 1.5;
}

.badge {
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: #d9d9d9;
    border-radius: 15px;
    vertical-align: middle;
}

.folder-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}

.folder-wrapper {
    text-align: center;
    text-decoration: none;
    color: black;
}

.folder-icon {
    width: 210px;
    height: 150px;
    background-color: #dcdcdc;

    border-radius: 15px;
    position: relative;
    margin: 0 auto 15px auto;
    transition: transform 0.2s;
}

.folder-icon:hover {
    transform: scale(1.05);
}

.folder-icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #e5cd8a;
    border-radius: 15px;
}

.folder-icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 60px;
    background-color: #e5cd8a;
    border-radius: 15px 15px 15px 0;
}

body.fixed-page {
    min-height: 100vh;
    background-color: white;
}

.page-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    min-height: 100vh;
    box-sizing: border-box;
}

.open-folder {
    --folder-width: 810px;
    --folder-height: 980px;
    --folder-x: 0px;
    --folder-y: 0px;

    --paper-rotation: 0deg;

    --shadow-x: 0px;
    --shadow-y: 15px;
    --shadow-blur: 10px;
    --shadow-intensity: 0.25;

    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) rgba(0, 0, 0, var(--shadow-intensity));
    width: var(--folder-width);
    height: var(--folder-height);
    top: var(--folder-y);
    left: var(--folder-x);
    
    background-color: #e6d08b;
    border-radius: 15px 15px 15px 15px;

    position: relative;
    transform: rotate(-3deg);

    transform-origin: center top;
}

.paper-back {
    --width: 720px;
    --height: 900px;
    --x: 30px;
    --y: 60px;
    --rotation: -3deg;

    position: absolute;
    z-index: 1;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
    transform: rotate(calc(var(--rotation) + var(--paper-rotation)));
    transform-origin: center top;

    background-color: #f3f0e6;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.15);
}

.paper-middle {
    --width: 720px;
    --height: 900px;
    --x: 50px;
    --y: 50px;
    --rotation: -1deg;

    position: absolute;
    z-index: 3;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
    transform: rotate(calc(var(--rotation) + var(--paper-rotation)));
    transform-origin: center top;

    background-color: #fbfbf6e0;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.15);

}

.paper-front {
    --width: 720px;
    --height: 900px;
    --x: 80px;
    --y: 30px;
    --rotation: 3deg;

    position: absolute;
    z-index: 3;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
    transform: rotate(calc(var(--rotation) + var(--paper-rotation)));
    transform-origin: center top;

    background-color: #fffdf7;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 60px;
    box-sizing: border-box;
}

.paper-front h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.paper-front p {
    font-size: 16px;
    line-height: 1.6;
}

.back-link {
    position: fixed;
    top: 30px;
    left: 30px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
}

.back-link:hover {
    text-decoration: unerline;
}